<app-loading *ngIf="loading" class="m-5"></app-loading>
<div class="row fadeIn animated" *ngIf="!loading">
  <div class="col-2">
    <img [src]="artist.images | noimage" alt="artist.name" class="img-thumbnail img-circle">
  </div>
  <div class="col">
    <h3>{{ artist.name }}</h3>
    <p>
      <a [href]="artist.external_urls.spotify" target="_blank">
        Go to artist's page in Spotify
      </a>
    </p>
  </div>
  <div class="col-4 text-right">
    <button [routerLink]="['/search']" class="btn btn-outline-danger" >
      Go search
    </button>
  </div>
</div>

<div class="row m-5">
  <div class="col">
    <table class="table">
      <thead>
        <tr>
          <th>Foto</th>
          <th>Album</th>
          <th>Canción</th>
          <th>Vista previa</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let track of topTracks">
          <td> <img class="img-thumb" [src]=" track.album.images | noimage" [alt]=" track.album.name "></td>
          <td>{{ track.album.name }}</td>
          <td>{{ track.name }}</td>
          <td> 
              <iframe [src]=" track.uri | securedom: 'https://open.spotify.com/embed?uri=' " width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>